#game_title{
    text-align: center;
    font-family: cursive;
    background-color: aliceblue;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: blue;
    
}

#game_window{
    background-color: azure;
    margin-left: 200px;
    margin-right: 200px;
    
}

#whole_site{
    background-image: url("https://img.freepik.com/free-photo/grunge-paint-background_1409-1337.jpg?w=2000");
}
