#game_title{
    text-align: center;
    font-family: cursive;
    background-color: aliceblue;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: blue;
    
}

#game_window{
    margin-left: auto;//מירכוז ימינה
    margin-right: auto;//מירכוז שמאלה
    background-color: azure;
    margin-left: 200px;
    margin-right: 200px;
    height: 600px;//גובהה
    width: 1100px;//רוחב
    //הגובהה והרוחב יחליף את כמות הרבווחים שיש בחלון המשחק 
}

#whole_site{
    background: blue;
}

/* סגנון כללי */
.scrollbar {
  width: 10px; /* רוחב הגליל */
  background-color: #f1f1f1; /* צבע רקע הגליל */
  position: relative;
  border-radius: 5px;
}

/* סגנון המקטע התואם את גודל התוכן */
.scrollbar-content {
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* סגנון הגליל עצמו */
.scrollbar-thumb {
  background-color: #888; /* צבע הגליל */
  border-radius: 5px;
  position: absolute;
  top: 0;
}

/* סגנון כאשר מעבירים על הגליל בעזרת העכבר */
.scrollbar-thumb:hover {
  background-color: #555; /* צבע הגליל בהעברת עכבר */
}

/* סגנון הגליל במצב פעיל */
.scrollbar-thumb:active {
  background-color: #333; /* צבע הגליל בלחיצה */
}

/* סגנון הגליל במצב זיהוי */
.scrollbar-thumb:active, .scrollbar-thumb.dragging {
  background-color: #000; /* צבע הגליל כאשר נגרר */
}

/* סגנון הגליל במצב סגירה */
.scrollbar-thumb.inactive {
  background-color: #aaa; /* צבע הגליל במצב סגירה */
}

/* סגנון הגליל במצב סגירה כאשר מעבירים עליו את העכבר */
.scrollbar-thumb.inactive:hover {
  background-color: #888; /* צבע הגליל במצב סגירה ובהעברת עכבר */
}
