#cat {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url(newCat.png);
    bottom: 0;
}

.obstacle {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(mouse.png);
    bottom: 0;
}

@keyframes slideright {
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0;
    }
}

@-webkit-keyframes slideright {
    from {
        background-position: 50000%;
    }
    to {
        background-position: 0;
    }
}


#bsk {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; /* Set both width and height to 100% */
    background-attachment: fixed;
    animation: slideright 600s infinite linear;
    -webkit-animation: slideright 600s infinite linear;
}

#score{
    position: absolute;
    font-family: "Arial Black";
    font-size: x-large;
    left: 40%;
    top: 20%;

}
